<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true">
	<Properties>
		<Property name="logPath">logs</Property>
		<Property name="logName">TestWebapp</Property>
	</Properties>
	<Appenders>
		<Appender type="Console" name="consoleOut" target="SYSTEM_OUT">
			<Layout type="PatternLayout" pattern="%d %-5p [%t] %c - %m%n" />
		</Appender>
		<Appender type="RollingRandomAccessFile" name="${logName}" fileName="${logPath}/${logName}.log"
			filePattern="${logPath}/${logName}.%d{yyyy-MM-dd}.log">
			<Layout type="PatternLayout" pattern="%d %-5p [%t] %c - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="31"/>
		</Appender>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="${logName}" />
			<AppenderRef ref="consoleOut" />
		</Root>
	</Loggers>
</Configuration>